---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pre-defined-secret
  namespace: arc-runners
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
    - secretKey: github_token
      remoteRef:
        key: "3659cae9-e6c0-43ad-9956-b37501258705"
