---
apiVersion: v1
kind: Service
metadata:
  name: cyberchef-service
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: cyberchef
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
