---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cifs-secret
  namespace: longhorn-system
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
    - secretKey: CIFS_USERNAME
      remoteRef:
        key: "2f589262-a862-4acf-88e0-b338007dc8c9"
    - secretKey: CIFS_PASSWORD
      remoteRef:
        key: "c4ae145d-757a-4922-9e89-b338007e41fb"
