---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: prod
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: http://10.0.10.101:3000/homelab/homelab.git
        revision: HEAD
        directories:
          - path: kubernetes/apps/*
  template:
    metadata:
      name: "{{ index .path.segments 2 }}"
    spec:
      project: default
      source:
        repoURL: http://10.0.10.101:3000/homelab/homelab.git
        path: "{{ .path.path }}"
        targetRevision: HEAD
      destination:
        server: https://kubernetes.default.svc
        namespace: prod
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          prune: true
