---
- name: Restart Forgejo
  ansible.builtin.service:
    name: forgejo
    enabled: true
    state: restarted

- name: Restart ssh
  ansible.builtin.service:
    name: sshd
    enabled: true
    state: restarted
