---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod

images:
  - name: ghcr.io/actualbudget/actual
    newTag: 26.1.0@sha256:e82b7302b0db7f8fa063159e8bddc07443bb83761798dc9ba84fe1b3df62d74f

resources:
  - deployment.yaml
  - ingress.yaml
  - pvc.yaml
  - service.yaml
