---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod

images:
  - name: ghcr.io/actualbudget/actual
    newTag: 25.12.0@sha256:7f38b450cc3b7523dd5377792895e58b9cf333769e5a27f89e643b6f5fc60565

resources:
  - deployment.yaml
  - ingress.yaml
  - pvc.yaml
  - service.yaml
