---
- name: Install dnf-automatic update utility.
  ansible.builtin.package:
    name: 'dnf-automatic'
    state: present

- name: Ensure dnf-automatic.timer is enabled.
  ansible.builtin.service:
    name: 'dnf-automatic.timer'
    enabled: true
    state: started

- name: Configure autoupdates.
  ansible.builtin.lineinfile:
    dest: '/etc/dnf/automatic.conf'
    regexp: '^apply_updates = .+'
    line: 'apply_updates = yes'
    mode: '0644'
