---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: whoami-ingress
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  tls:
    secretName: home-lungoo-de-tls
  routes:
    - match: Host(`whoami.home.lungoo.de`)
      kind: Rule
      services:
        - name: whoami-service
          port: 80
