---
name: Kubectl validate
on:
  pull_request:
    branches:
      - main
    paths:
      - "kubernetes/**"

permissions:
  contents: read
  pull-requests: read

jobs:
  changed-apps:
    runs-on: arc-runner-set
    name: Find changed apps
    container:
      image: alpine/k8s:1.35.0@sha256:18bc02c1e0df04451f4f9194eb7b7341c1165da5495459b52f85f72fb9545032
    outputs:
      apps_matrix: ${{ steps.changed-apps.outputs.apps_matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          matrix: true
          dir_names: true

      - name: List all changed files
        run: echo '${{ steps.changed-files.outputs.all_changed_files }}'

      - name: Filter apps matrix
        id: changed-apps
        run: |
          CHANGED_FILES='${{ steps.changed-files.outputs.all_changed_files }}'
          APPS=$(echo $CHANGED_FILES | jq -r '.[] | select(startswith("kubernetes"))' | jq -R . | jq -sc .)
          echo "Filtered matrix: $APPS"
          echo apps_matrix=$APPS >> $GITHUB_OUTPUT
        shell: bash

  validation:
    runs-on: arc-runner-set
    name: Validate ${{ matrix.app }}
    needs: changed-apps
    container:
      image: alpine/k8s:1.35.0@sha256:18bc02c1e0df04451f4f9194eb7b7341c1165da5495459b52f85f72fb9545032
    strategy:
      matrix:
        app: ${{ fromJSON(needs.changed-apps.outputs.apps_matrix) }}
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Kustomize Build
        run: kustomize build --enable-helm ${{ matrix.app }} > ${{ matrix.app }}/bundle.yaml

      - name: Dry-run kubectl apply
        run: |
          kubectl apply -f ${{ matrix.app }}/bundle.yaml --dry-run=client

  validation-result:
    runs-on: arc-runner-set
    name: Validation result
    needs: validation
    container:
      image: alpine/k8s:1.35.0@sha256:18bc02c1e0df04451f4f9194eb7b7341c1165da5495459b52f85f72fb9545032
    steps:
      - name: Set status based on build
        run: |
          if [ "${{ needs.validation.result }}" == "success" ]; then
            echo "Validation succeeded."
          else
            echo "Validation failed."
            exit 1
          fi
